h1= t('about')

= link_to t("home"), root_path

div
  | #{t('current_time_is')}: #{l @time_now}

br

=> link_to "#{t('switch_to')} #{another_locale}", controller: :locales, action: :switch, locale: another_locale

